{% extends 'base.html' %}

{% block title %}Estatus{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/filters.css">
    <link rel="stylesheet" href="/static/css/components/tables.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header-usuarios">
        <h2>Estatus</h2>
        <form action="/mod_principal" method="get">
            <button type="submit" class="btn-volver">Regresar</button>
        </form>
    </div>


    <div style="
    max-height: 400px;       /* Altura máxima visible */
    overflow-y: auto;        /* Scroll vertical */
    overflow-x: auto;        /* Scroll horizontal si se necesita */
    border: 1px solid #ccc;  /* Borde sutil */
    border-radius: 6px;
    margin-top: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
">
    <table id="tabla-domicilios" style="
        width: 100%;
        border-collapse: collapse;
        font-size: 0.9em; /* Más compacto */
    ">
        <thead style="position: sticky; top: 0; background-color: #f4f4f4; z-index: 1;">
            <tr>
                <th style="padding: 6px;">Estados Posibles</th>
            </tr>
        </thead>
        <tbody>
            {% for e in estatus %}
            <tr class="fila-usuario" style="border-top: 1px solid #ddd;">
                <td style="padding: 4px;">{{ e.Descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}

{% block scripts %}
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/user_form.js"></script>


{% endblock %}
